<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Asterisk Manager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="extensions-list">
                Extensions
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="extensions">
                Extensions Editor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pjsip">
                PJSIP Editor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                Full Log
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="messagelog">
                Message Log
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="systemlogs">
                System Logs (Live)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wifi">
                WiFi Setup
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="asterisk-restart">
                Restart Asterisk
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testupdate">
                Test Update
            </NavLink>
        </div>
    </nav>
</div>
