@page "/"

<PageTitle>Asterisk Manager</PageTitle>

<h1>Asterisk Manager</h1>
<p>Use the sidebar to navigate:</p>
<ul>
    <li><a href="extensions">Extensions Editor</a> - Edit extensions.conf and reload the dialplan.</li>
    <li><a href="pjsip">PJSIP Editor</a> - Edit pjsip.conf and reload PJSIP.</li>
    <li><a href="logs">Full Log</a> - View /var/log/asterisk/full.</li>
    <li><a href="messagelog">Message Log</a> - View /var/log/asterisk/messages.log.</li>
</ul>
